/**
 * Main
 */
 body {
   background: rgba(238, 238, 238, 0.35);
 }
.row {
  padding: 2rem;
}
.card {
  background: #fff;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.5);
  padding: 1.5rem;
  border-radius: 3px;
  margin-bottom: 1.5rem;
}
/* Mobile First */
img {
  width: 100%;
}
@media (--view-tablet) {
  .row .column.column-60 {
      max-width: 100%;
  }
  .row .column.column-50 {
      max-width: 100%;
  }
}
:--headers {
  color: var(--color-primary);
}
/* Header */
header[role="banner"] {
  border-bottom: 1px solid var(--color-primary);
  text-align: center;

}
header[role="banner"] nav ul {
  list-style: none;
}
@media (min-width: 40rem) {
  .row {
    flex-direction: column;
  }
}
@media (min-width: 50rem) {
  .row {
    flex-direction: row;
  }
  header[role="banner"] h1 {
    margin: 0;
    line-height: 4rem;
    text-align: left;
  }
  header[role="banner"] .contact-links {
    margin: 0;
    line-height: 4rem;
    text-align: right;
  }
  .contact-links li {
    margin: 0;
  }
}
.contact-links {
  margin: 0;
}
.contact-links li {
  display: inline-block;
}
.contact-links a {
  padding: 1rem;
}
nav ul li a::before {
  content: '';
	@apply --primary-icon;
	padding: 1rem;
}
nav ul li a[href*="tel:"]:before {
    content: '\f098';
}
nav ul li a[href*="mailto:"]:before {
    content: '\f0e0';
}
nav ul li a[href*="#properties"]:before{
	content: '\f015';
}
.intro ul {
  list-style: none;
}
.near ul {
  list-style: none;
}
.location:before {
  @apply --primary-icon;
  content: "\f041";
}
.dollar:before {
  @apply --primary-icon;
  content: "\f155";
}
.house:before {
  @apply --primary-icon;
  content: "\f015";
}
.bedroom:before {
  @apply --primary-icon;
  content: "\f236";
}
.bathroom:before {
  @apply --primary-icon;
  content: "\f043";
}
.schools:before {
  @apply --primary-icon;
  content: '\f19d';
}
.hospital:before {
  @apply --primary-icon;
  content: '\f0f8';
}
.grocery:before {
  @apply --primary-icon;
  content: '\f07a';
}
.restaurant:before {
  @apply --primary-icon;
  content: '\f0f5';
}
.shops:before {
  @apply --primary-icon;
  content: '\f005';
}
.whatsnew ul {
  columns: 2;
}
@media (--view-small) {
  .whatsnew ul {
    columns: 1;
  }
}
.gallery h3 {
  text-align: center;
}
#properties h3.house::before {
  font-size: inherit;
}
/* Footer */
footer {
  background-color: var(--color-primary);
  text-align: center;
  padding: 3rem;
}
footer ul {
  margin: 0;
}
footer ul li {
  display: inline-block;
  margin: 0;
}
footer nav ul li a {
  color: var(--color-initial);
  font-size: 1.4rem;
  padding: 1rem;
}
footer nav ul li a::before {
  font-size: 1.4rem;
}
